<% provide(:title, 'Help') %>

	<h1>Help</h1>
	<p>
	  This is the help page for the sample tutorial. If you need ANY help at all, visit this helpful site:   		
	  <a href="http://4chan.org/b/">Ruby on Rails</a>.
  	
	</p>